---
import Layout from "../layouts/Layout.astro";
import Formulario from "../components/Formulario.astro";
---

<Layout>
        <h1>Contacto</h1>
        <p>
            Si tienes alguna pregunta o deseas obtener más información sobre nuestros servicios,
            no dudes en ponerte en contacto con nosotros.
        </p>

        <Formulario />
</Layout>
