---

---
<a href="FAQ.astro">  </a>
<div class="preguntas">
<div class="title-container">
    <span class="material-symbols-outlined">
question_mark
</span>
    <h1>Preguntas Frecuentes</h1>
    <p>
        ¿Tienes dudas? Aquí encontrarás las respuestas a las preguntas más
        frecuentes
    </p>
</div>

<div class="title-container">
    <h3>¿Cómo puedo contactarlos?</h3>
    <p>
        Puedes contactarnos a través de nuestro formulario de contacto en la
        página de inicio.
    </p>

    <h3>¿Qué servicios ofrecen?</h3>        
    <p>
        Ofrecemos una variedad de servicios, incluyendo grabacion de voz en off, edicion de audio, mezcla y masterizacion.
    </p>
    <h3>¿Tienen soporte técnico?</h3>
    <p>
        Sí, ofrecemos soporte técnico a todos nuestros clientes. Puedes
        contactarnos por correo electrónico o a través de nuestro chat en vivo.
    </p>
</div>
</div>
<style>
    .preguntas {
        padding: 2rem;
        background-color: transparent;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        margin-top: 2rem;
        margin-bottom: 2rem;
        border-radius: 12px;
    }
    .title-container > * {
        text-align: center;
       
    }
    .title-container {
        max-width: 720px;
        margin: auto;
        gap: 1rem;
        display: flex;
        flex-direction: column;
        margin-bottom: 2rem;        
    }
    .h1 {
        background-color: pink;
        padding: 1rem;
        border-radius: 12px;
    }
</style>