---

---
<div class="jumbotron">
    <div>
        <h1>Impulsa tu negocio</h1>

        <p>
            Con nuestros servicios de produccion de audio impulsa tu negocio en
            cualquier plataforma y alcanza la audiencia que estas buscando
        </p>
    </div>
    <div>
        <button class="button">Contactanos</button>
        <button class="button">Ver tarifas</button>
    </div>
</div>

<style>
    .jumbotron {
        background-image: url('/studio.jpeg');
        background-repeat:no-repeat;
        background-size: cover;
        background-position: center;
        padding: 120px 60px;
        color: white;
        display: flex;
        flex-direction: column;
        gap: 34px

    }

.button {
    background-color: orange;
    padding: 6px 12px;
    border-radius: 3px;
    font-weight: 500;
    ;
    color: white
}

</style>