---

---
<div class="jumbotron">
    <div>
        <h1>Tu destino ideal para grabacion profesional</h1>

        <h3>
            Con nuestros servicios de produccion de audio impulsa tu negocio en
            cualquier plataforma y alcanza la audiencia que estas buscando
        </h3>
    </div>
    <div>
        <button class="button"><a href="/contact">Contactanos</a></button>
        <button class="button"><a href="/pricing">Ver tarifas</a></button>
    </div>
</div>

<style>
    .jumbotron {
        background-image: url('/studio2.jpg');
        background-repeat:no-repeat;
        background-size: cover;
        background-position: center;
        padding: 120px 60px;
        color: white;
        display: flex;
        flex-direction: column;
        gap: 34px;
        margin-bottom: 2rem;

    }

.button {
    background-color: pink;
    padding: 12px 32px;
    border-radius: 12px;
    font-weight: 500;
    color: white;
    transition: background-color 0.3s, opacity 0.3s;
}

.button:hover {
    background-color: #fe85c2;
    opacity: 0.8;
}

</style>