---
import ImageBrainwave from "../assets/BrainWave_LogoAssets_BrainWaveLogo_alt-1568x1568.png";
---

<header>
    <nav>
        <div>
            <a href="/">
                <img src={ImageBrainwave.src} alt="" width="56" height="56" />
            </a>
        </div>
        <ul>
            <li><a href="/services">Servicios</a></li>
            <li><a href="/presentation">Presentacion</a></li>
            <li><a href="/reviews">Reviews</a></li>
            <li><a href="/contact">Contacto</a></li>
        </ul>
        <a href="/login">
            <button class="favorite styled" type="button">Iniciar Sesion</button>
        </a>
    </nav>
</header>
