---
interface Props {
  title: string;
  subtitle: string;
}

const { title, subtitle } = Astro.props;
---

<a href="presentation.astro"></a>
<div class="presentation">
  
<div class="title-container">
  <h1>{title}</h1>
  <p>{subtitle}</p>
</div>

<div class="image-container">
  <div class="image-container__item micfoto">
    <button
      ><span class="icon material-symbols-outlined"> play_circle </span></button
    >
  </div>
  <div class="image-container__item studio3">
    <button
      ><span class="icon material-symbols-outlined"> play_circle </span></button
    >
  </div>
  <div class="image-container__item daw">
    <button
      ><span class="icon material-symbols-outlined"> play_circle </span></button
    >
  </div>
  <div class="image-container__item phoneplayer">
    <button>
      <span class="icon material-symbols-outlined"> play_circle </span></button
    >
  </div>
</div> 
</div>

<style>
  .presentation {
    padding: 2rem;
    background-color: pink;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .title-container > * {
    text-align: center;
  }
  .title-container {
    max-width: 720px;
    margin: auto;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
  }

  .image-container {
    display: flex;
    gap: 1rem;
    justify-content: center;
  }

  .image-container__item {
    width: 200px;
    height: 200px;
    background-size: cover;
    background-position: center;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .image-container__item button {
    background-color: transparent;
    cursor: pointer;
  }

  .icon {
    font-size: 50px;
    color: white;
  }

  .micfoto {
    background-image: url("/public/micfoto.jpg");
  }
  .studio3 {
    background-image: url("/public/studio3.jpeg");
  }

  .daw {
    background-image: url("/public/daw.webp");
  }

  .phoneplayer {
    background-image: url("/public/phoneplayer.webp");
  }
</style>
