---
interface Props {
    title: string;
    subtitle: string;
}

const { title, subtitle } = Astro.props;
---

<a href="presentation.astro"></a>
<div>
    <h1>{title}</h1>
    <p>{subtitle}</p>
    <button class="button">Escuchar Demos</button>
</div>
<style>
.button {
    background-color: orange;
    padding: 6px 12px;
    border-radius: 3px;
    font-weight: 500;
    color: white
}
</style>
