---

---
<a href="reviews.astro/"></a>

<div class="title-container">
    <h1>Reseñas de Clientes</h1>
    <p>Aquí están algunas reseñas de nuestros clientes satisfechos.</p>
    <div>
        <ul>
            <li>"Excelente servicio y calidad de sonido."</li>
            <li>"Muy profesionales y atentos a los detalles."</li>
            <li>"Recomiendo sus servicios a todos mis colegas."</li>
        </ul>
    </div>
</div>

<style>
    .title-container {
        padding: 2rem;
        background-color: transparent;
        border-radius: 12px;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    .title-container > * {
        text-align: center;
    }
    .title-container h1 {
        margin-bottom: 1rem;
    }
    .title-container p {
        margin-bottom: 1rem;
    }
    .title-container ul {
        list-style-type: none;
        padding: 0;
    }
    .title-container li {
        margin-bottom: 0.5rem;
    }
</style>