<a href="services.astro"></a>
<div>
    <h1>Nuestros Servicios</h1>
    <p>
        Ofrecemos una amplia gama de servicios de produccion de audio incluyendo
        grabacion, edicion, mezcla y masterizacion.
    </p>
    <div>
        <slot name="services-list">
            <ul>
                <li>Grabacion de voz en off</li>
                <li>Edicion de audio</li>
                <li>Mezcla y masterizacion</li>
            </ul>
        </slot>
    </div>
</div>
