---
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";
import Jumbotron from "../components/Jumbotron.astro";
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Kathy's Sounds</title>
		<link
			rel="stylesheet"
			href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
		/>
		<style>
			.material-symbols-outlined {
				font-variation-settings:
					"FILL" 0,
					"wght" 400,
					"GRAD" 0,
					"opsz" 24;
			}

		</style>
	</head>
	<body>
		<Navbar />
		<Jumbotron />
		<slot />
		<Footer />
	</body>
</html>
