---
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";
import Jumbotron from "../components/Jumbotron.astro";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Kathy's Sounds</title>
	</head>
	<body>
		<Navbar />
		<Jumbotron />
		<slot />
		<Footer />
	</body>
</html>
